name: CI

on:
  push:
    branches: ["fernando"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: deno test -A
